<html>
<head>
<title>About LightWrite</title>
<body style="background: #ffffff; padding: 5px; text-shadow: 0 1px 1px #FFF6E1;">
<h3>About LightWrite</h3>
<p>LightWrite is a free and open source web-based clone of <a href="http://www.hogbaysoftware.com/products/writeroom" target="_blank">WriteRoom</a> by HogBaySoftware.
<p>The source code is available <a href="http://github.com/gunio/LightWrite" target="_blank">on GitHub here</a>
<p>LightWrite is built on lots of open source componants, including Python, Django, jQuery, and Smoke.js.
<p>Are there bugs or features you want for LightWrite? <a href="http://gun.io/contact/" target="_blank">Get in touch!</a>

<h3>About Gun.io</h3>
<p>LightWrite is written in Django by Rich Jones for <a href="http://gun.io" target="_blank">Gun.io</a>, a place for independent and open source developers to hire assistance on their projects.
</div>
</body>
</html>

