<html>
<head>
<title>LightWrite - Gun.io</title>
<link href="/static/light.css" media="screen" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/static/jquery.textarea.js"></script>
<script>
 $(document).ready(function(){
	 $.getJSON('/t/{{wash}}', function (data, textStatus, jqXHR) {
				$('#writearea').val(data[0]['fields']['text'])
		});
	 $('#writearea').focus();
	 $("#writearea").tabby();
	 $('#footer-items').hide();
	 $('#writearea').focus();

 })
	 var light = true;
</script>
<script type="text/javascript">
function lights(){
	if(!light){
	    $('#writearea').css('background-color', '#ffffff');
	    $('body').css('background-color', '#ffffff');
	    $('#footer').css('background-color', '#ffffff');
	    $('#footer-items').css('background-color', '#ffffff');
	    $('#main form div textarea#writearea').css('color', '#000000');
	    $('#main form div textarea#writearea').css('text-shadow', '0 0 1px #666677');
  	  light = true; 
  }
  else{	
	    $('#writearea').css('background-color', '#000000');
	    $('body').css('background-color', '#000000');
	    $('#footer').css('background-color', '#000000');
	    $('#footer-items').css('background-color', '#000000');
	    $('#main form div textarea#writearea').css('color', '#ffffff');
	    $('#main form div textarea#writearea').css('text-shadow', '0 0 1px #999988');
  	  light = false; 
  }

	
}
</script>
<link rel="stylesheet" href="static/smoke.css" type="text/css" media="screen" />
<link rel="stylesheet" href="static/themes/dark.css" type="text/css" media="screen" />
<script src="static/smoke.min.js" type="text/javascript"></script>
<link href="/static/favicon.ico" rel="SHORTCUT ICON">
</head>
<body>
<center>
		<div id="main">
				<form name="bodytext" onclick="$('#footer-items').slideUp('fast');" method="post" action="/{{wash}}" target="saver">
				<div>{% csrf_token %}<textarea cols="50" rows="20" id="writearea" name="writearea"></textarea>
				</div>
		<div>
		<div id="footer" onmouseover="$('#footer-items').slideDown('slow');">
				<div id="footer-items" style="display: block;">
			  <input type="submit" value="Save Online" name="save" /></input><input type="submit" value="Export to File" name="export" />
				</form>
				<a onClick="javascript:smoke.signal('Saved!<br /><div id=sub>You can find this text at http://gun.io/w/{{wash}}</div> ');">Smoke</a>
				<a onClick="lights()">Lights on!</a>
				</div>
		</div>
</center>
</body>
</html>
