<html>
<head>
<title>LightWrite - Gun.io</title>
<link href="/static/light.css" media="screen" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/static/jquery.textarea.js"></script>
<script>
 $(document).ready(function(){
	 $.getJSON('/t/{{wash}}', function (data, textStatus, jqXHR) {
				$('#writearea').val(data[0]['fields']['text'])
		});
	 $('#writearea').focus();
	 $("#writearea").tabby();
	 $('#footer-items').hide();
	 $('#writearea').focus();


 })
</script>
<script type="text/javascript">
</script>

</head
<body>
<center>
		<div id="main">
				<form name="bodytext" onclick="$('#footer-items').slideUp('fast');" method="post" action="/{{wash}}" target="saver">
				<div>{% csrf_token %}<textarea cols="50" rows="20" id="writearea" name="writearea"></textarea>
				</div>
		<div>
		<div id="footer" onmouseover="$('#footer-items').slideDown('slow');">
				<div id="footer-items" style="display: block;">
			  <input type="submit" value="Save Online" name="save" /></input><input type="submit" value="Export to File" name="export" />
				</form>
				</div>
		</div>
</center>
</body>
</html>
